KERNEL_ARCH_CFLAGS=-nostdlib -nostartfiles -std=c11 -mcpu=cortex-a15
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

C_SRC_FILES:=$(wildcard $(ARCHDIR)/*.c)
S_SRC_FILES:=$(wildcard $(ARCHDIR)/*.S)
KERNEL_ARCH_C_OBJS:=$(patsubst %.c,%.o,${C_SRC_FILES})
KERNEL_ARCH_S_OBJS:=$(patsubst %.S,%.o,${S_SRC_FILES})

KERNEL_ARCH_OBJS=${KERNEL_ARCH_C_OBJS} ${KERNEL_ARCH_S_OBJS}