KERNEL_ARCH_CFLAGS=-nostdlib -nostartfiles -std=gnu11 -march=armv8.4-a+fp
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

ARCH_ARCH=ARMv8.4-a
ARCH_BUILD_INFO=Arch: $(ARCH_ARCH)

C_SRC_FILES:=$(wildcard $(ARCHDIR)/*.c)
S_SRC_FILES:=$(wildcard $(ARCHDIR)/*.S)
KERNEL_ARCH_C_OBJS:=$(patsubst %.c,%.o,${C_SRC_FILES})
KERNEL_ARCH_S_OBJS:=$(patsubst %.S,%.o,${S_SRC_FILES})

KERNEL_ARCH_OBJS=${KERNEL_ARCH_C_OBJS} ${KERNEL_ARCH_S_OBJS}